Django==1.7.1
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.4b4
Pillow==3.0.0
PyYAML==3.11
Pygments==2.0.2
Twisted==13.2.0
YourAppName==1.0
altgraph==0.10.2
appnope==0.1.0
backports.ssl-match-hostname==3.4.0.2
bash-kernel==0.3
bdist-mpkg==0.5.0
binaryornot==0.4.0
bonjour-py==0.3
certifi==2015.04.28
chardet==2.3.0
click==5.1
cookiecutter==1.1.0
decorator==3.4.2
dj-database-url==0.3.0
django-chartit==0.1
django-dajaxice==0.7
django-decouple==2.1
django-easy-maps==0.9
django-foundation==0.1
django-foundation-env==0.2
django-foundation-statics==5.4.7-2
django-graphos==0.1.1
django-mongodb-engine==0.6.0
django-zurb-foundation==5.5.0
djangotoolbox==1.8.0
foundationform==0.2
future==0.15.2
geopy==1.10.0
gnureadline==6.3.3
-e git+https://github.com/ipython/ipykernel.git@a4c44ed497ff30c8602e7d89d8156a67d87e8574#egg=ipykernel-master
-e git+https://github.com/ipython/ipython.git@b4f9523e158ecd3da30009330c5252f3309919ee#egg=ipython-master
ipython-genutils==0.1.0
jsonschema==2.4.0
-e git+https://github.com/jupyter/jupyter_client.git@1c77df8fe707171504c4a761093041c7ff130c86#egg=jupyter_client-master
-e git+https://github.com/jupyter/jupyter_core.git@db36b311fcc130f4242602d54c93b7ac6dbbae28#egg=jupyter_core-master
macholib==1.5.1
matplotlib==1.3.1
mistune==0.5.1
modulegraph==0.10.4
mongoengine==0.10.0
-e git+https://github.com/jupyter/nbconvert.git@2ffe7cb2661532db40a8f463a61252e89d5ed973#egg=nbconvert-master
-e git+https://github.com/jupyter/nbformat.git@ba54d911c32105c124d75022236c4613e8264b97#egg=nbformat-master
-e git+https://github.com/jupyter/notebook.git@69094bfffc6c65c97593c87aaf324302525297e5#egg=notebook-master
numpy==1.8.0rc1
path.py==7.3
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
py2app==0.7.3
pyOpenSSL==0.13.1
pycurl==7.19.5
pymongo==3.0.3
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyparsing==2.0.1
pyserial==2.7
python-dateutil==1.5
pytz==2013.7
pyzmq==14.6.0
reportlab==3.2.0
scipy==0.13.0b1
selenium==2.48.0
simplegeneric==0.8.1
simplejson==3.8.0
six==1.4.1
tornado==4.2
-e git+https://github.com/ipython/traitlets.git@f6f5946164bde26e335cfc65f99f86e5e782574c#egg=traitlets-master
virtualenv==13.0.0
whichcraft==0.1.1
wsgiref==0.1.2
xattr==0.6.4
zarahome==1.0
zope.interface==4.1.1
zurb-foundation==5.5.0.post3
