{% extends "foundation/base.html" %} {% block base_body %}
<div class="row">
  <h2>Detailed View</h2>
</div>
<br>
<div class="row">
  <table>
    <thead>
      <tr>
        <th>Station Code</th>
        <th>IP</th>
        <th>last update</th>
        <th>last status changed</th>
        <th>Eam serial</th>
        <th>Digitizer serial</th>
        <th>Trigger setting</th>
      </tr>
    </thead>
    <tbody>
      {% for guralp in guralp_details %}

      <tr>
        <td><a href=/guralp/{{ guralp.station_code }}>{{ guralp.station_code }} </a>
        </td>
        <td>
          {{guralp.external_ip}}
        </td>

        {% for log in single_log_list %}
        <td> {{ log.timestamp }} </td>
        <td> {{ log.status_changed_timestamp }} </td>
        <td>{{ guralp.eam_serial}}</td>
        <td>{{ guralp.digitizer_serial }}</td>
        <td>{{ guralp.trigger_setting }}


        {%endfor%}
      </tr>
    </tbody>
  </table>
  <a href="{% url 'admin:index' %}guralp/guralp/{{guralp.id}}" class="button tiny">Edit station</a>
  {% endfor %}
</div>
<div class="row">
  <h3>Static Information</h3>
  <table>
    <thead>
      <tr>
        <th>Installation Order</th>
        <th>location</th>
        <th>Region</th>
        <th>Building</th>
        <th>Coordinates</th>
        <th>Installation date</th>
        <th>Installation crew</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for guralp in guralp_details %}
        <td> {{ guralp.installation_order}} </td>
        <td> {{ guralp.location }} </td>
        <td> {{ guralp.region }} </td>
        <td> {{ guralp.building }} </td>
        <td> {{ guralp.coordinates }} </td>
        <td> {{ guralp.installation_date}} </td>
        <td> {{ guralp.installation_crew }} </td>
        <td> {{ guralp.comments }} </td>

        {%endfor%}
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3>Sensor</h3>
  <table>
    <thead>
      <tr>
        <th>Blocks out</th>
        <th>Blocks Received</th>
        <th>Last event</th>
        <th>Last packet received</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for log in single_log_list %}
        <td> {{ log.sensor_blocks_out}} </td>
        <td> {{ log.sensor_blocks_rec }} </td>
        <td> {{ log.sensor_last_event }} </td>
        <td> {{ log.sensor_last_packet_received }} </td>

        {%endfor%}
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3>GCF</h3>
  <table>
    <thead>
      <tr>
        <th>Number of blocks out</th>
        <th>Blocks out in last 5 minutes</th>
        <th>Samples in last 5 minutes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for log in single_log_list %}
        <td> {{ log.gcf_blocks_out}} </td>
        <td> {{ log.gcf_last_blocks_5_minutes }} </td>
        <td> {{ log.gcf_last_samples_5_minutes }} </td>
        {%endfor%}
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3>Scream</h3>
  <table>
    <thead>
      <tr>
        <th>Clients connected</th>
        <th>Blocks sent in last 5 minutes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for log in single_log_list %}
        <td> {{ log.scream_clients_connected}} </td>
        <td> {{ log.sensor_blocks_5 }} </td>
        {%endfor%}
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3>GPS</h3>
  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Estimated error</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        {% for log in single_log_list %}
        <td> {{ log.ntp_status}} </td>
        <td> {{ log.ntp_estimated_error }} </td>
        {%endfor%}
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3>Storage</h3>
  <table>
    <thead>
      <tr>
        <th>State</th>
        <th>Size</th>
        <th>Last accessed</th>
        <th>Free space</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        {% for log in single_log_list %}
        <td> {{ log.storage_state}} </td>
        <td> {{ log.storage_size }}
        <td> {{ log.storage_last_accessed }} </td>
        <td> {{ log.storage_free_space }} </td>
 {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3>System</h3>
  <table>
    <thead>
      <tr>
        <th>Uptime</th>
        <th>Load</th>
        <th>Root free space</th>
        <th>Repo label</th>
        <th>Build number</th>
        <th>Build machine</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for log in single_log_list %}
        <td> {{ log.system_uptime}} </td>
        <td> {{ log.system_load }}
          <td> {{ log.root_free_filesystem }} </td>
          <td> {{ log.system_repo }} </td>
          <td> {{ log.system_build_number }} </td>
          <td> {{ log.system_build_machine }} </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
<div class="row">
  <h3>History</h3>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Blocks out</th>
        <th>Blocks received</th>
        <th>Clients</th>
        <th>Scream Blocks</th>
        <th>GCF last blocks</th>
        <th>GCF last samples</th>
        <th>Ntp status</th>
        <th>Storage</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      {% for history_entry in history_list %}
      <tr>
        <td> {{ history_entry.timestamp}} </td>
        <td> {{ history_entry.sensor_blocks_out}} </td>
        <td> {{ history_entry.sensor_blocks_rec}}
          <td> {{ history_entry.scream_clients_connected }} </td>
          <td> {{ history_entry.scream_blocks_5}} </td>
          <td> {{ history_entry.gcf_last_blocks_5_minutes }} </td>
          <td> {{ history_entry.gcf_last_samples_5_minutes }} </td>
          <td> {{ history_entry.ntp_status }} </td>
          <td> {{ history_entry.storage_state }} </td>
          <td> {{ history_entry.storage_size }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>



{% endblock base_body %}
