{% extends "foundation/base.html" %} {% block base_body %}



<div class="row">
  <h3>  Welcome to Guralp Monitor tool</h3>
</div>
<p>

  <div class="row">

    <table>
      <thead>

        <tr>
          <th>Station</th>
          <th>Manual Check</th>
          <th>Latest Pole</th>
          <th>Last Status Changed</th>
          <th>Sensor</th>
          <th>Scream Blocks</th>
          <th>Gcf Blocks</th>
          <th>GPS</th>
          <th>Storage</th>
          <th>Data Free Space</th>
          <th>System Free Space</th>
          <th>Load</th>
          <th>Uptime</th>

        </tr>
      </thead>
      <tbody>

        {% for guralp in latest_guralp_list %}

        <tr>
          <td><a href=/guralp/{{ guralp.prefix }}>{{ guralp.prefix }} </a></td>
          <td> {{ guralp.status }} </td>


          {% for log in log_list %}
          {% if guralp.prefix = log.guralp_prefix %}
          <td> {{ log.timestamp }} </td>
          <td> {{ log.status_changed_timestamp }} </td>
          <td> {{ log.sensor_last_event }} </td>
          <td> {{ log.scream_blocks_5 }} </td>
          <td> {{ log.gcf_last_blocks_5_minutes }} </td>
          <td> {% if log.ntp_status = "true" %} OK! {% elif log.ntp_status = "false" %} <span style="color:blue"> Error! </span> {%endif%}</td>
          <td> {% if log.storage_state = "Inactive" %} OK! {%else%} {{ log.storage_state }} {%endif%} </td>
          <td> {{ log.storage_free_space }} </td>
          <td> {{ log.root_free_filesystem }} </td>
          <td> {{ log.system_load }} </td>
          <td> {{ log.system_uptime }} </td>
          {%endif%}
            {%endfor%}

          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock base_body %}
