{% extends "foundation/base.html" %} {% block base_body %}



<div class="row">
  <h3>  Welcome to Guralp Monitor tool</h3>
</div>
<p>

  <div class="row">

    <table>
      <thead>

        <tr>
          <th>Prefix</th>
          <th>timestamp</th>
          <th>last status changed</th>
          <th>sensor</th>
          <th>scream blocks</th>
          <th>gcf blocks</th>
          <th>gps</th>
          <th>storage</th>
          <th>load</th>
          <th>uptime</th>

        </tr>
      </thead>
      <tbody>

        {% for guralp in latest_guralp_list %}

        <tr>
          <td><a href=/guralp/{{ guralp.prefix }}>{{ guralp.prefix }} </a></td>


          {% for log in log_list %}
          <td> {{ log.timestamp }} </td>
          <td> {{ log.status_changed_timestamp }} </td>
          <td> {{ log.sensor_last_event }} </td>
          <td> {{ log.scream_blocks_5 }} </td>
          <td> {{ log.gcf_last_blocks_5_minutes }} </td>
          <td> {{ log.ntp_status }} </td>
          <td style="background-color:#FF8672"> {{ log.storage_state }} </td>
          <td style="background-color:#FF8672"> {{ log.system_load }} </td>
          <td> {{ log.system_uptime }} </td>
            {%endfor%}

          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock base_body %}
